Repository SynoCommunity/spksrc, pull requests merged in 2022-12, with the labels that each got.

#5475 Python 3.11
  cross/python311/Makefile
  cross/python311/PLIST
  cross/python311/digests
  cross/python311/patches/001-mimetypes.patch
  cross/python311/patches/004-xcompile-paths.patch
  cross/python311/patches/88f6281/005-configure.ac-remove-unknown-flags.patch
  cross/python311/patches/ppc853x-5.2/005-configure.ac-remove-unknown-flags.patch
  cross/python311/patches/x86-5.2/005-configure.ac-remove-unknown-flags.patch
  cross/python311/src/mime.types
  native/python311/Makefile
  native/python311/digests
  spk/python311/Makefile
  spk/python311/PLIST
  spk/python311/src/python3.png
  spk/python311/src/requirements-abi3.txt
  spk/python311/src/requirements-crossenv-DSM6.txt
  spk/python311/src/requirements-crossenv-DSM7.txt
  spk/python311/src/requirements-crossenv.txt
  spk/python311/src/requirements-pure.txt
  spk/python311/src/service-setup.sh
  spk/sabnzbd/Makefile
  spk/sabnzbd/src/service-setup.sh
Labels: status/needs-review

#5301 Dotnet runtime: remove unsupported archs
  cross/dotnet-runtime/Makefile
  cross/dotnet-runtime/digests
  mk/spksrc.archs.mk
  spk/dotnet-runtime/Makefile
  spk/dotnet-runtime/PLIST
Labels: framework, dotnet

#5537 Meson update: use TC generated cfg files and update to v1.0.0
  Dockerfile
  cross/glib/Makefile
  cross/glib/PLIST
  cross/glib/digests
  mk/meson/aarch64.cfg
  mk/meson/armv5.cfg
  mk/meson/armv7.cfg
  mk/meson/armv7l.cfg
  mk/meson/i686.cfg
  mk/meson/ppc.cfg
  mk/meson/x86_64.cfg
  mk/spksrc.cross-env.mk
  mk/spksrc.cross-meson-env.mk
  mk/spksrc.tc-rust.mk
  mk/spksrc.tc.mk
Labels: framework, status/needs-review, build/meson, build/rust
