Repository SynoCommunity/spksrc, pull requests merged in 2023-01, with the labels that each got.

#5567 Add support for DS223 and build for DSM 7.1
  .github/workflows/build.yml
  Makefile
  mk/spksrc.archs.mk
  mk/spksrc.tc-vers.mk
  toolchain/syno-aarch64-7.2/Makefile
  toolchain/syno-aarch64-7.2/digests
  toolchain/syno-alpine-7.2/Makefile
  toolchain/syno-alpine-7.2/digests
  toolchain/syno-alpine4k-7.2/Makefile
  toolchain/syno-alpine4k-7.2/digests
  toolchain/syno-apollolake-7.2/Makefile
  toolchain/syno-apollolake-7.2/digests
  toolchain/syno-armada37xx-7.2/Makefile
  toolchain/syno-armada37xx-7.2/digests
  toolchain/syno-armada38x-7.2/Makefile
  toolchain/syno-armada38x-7.2/digests
  toolchain/syno-armv7-7.2/Makefile
  toolchain/syno-armv7-7.2/digests
  toolchain/syno-avoton-7.2/Makefile
  toolchain/syno-avoton-7.2/digests
  toolchain/syno-braswell-7.2/Makefile
  toolchain/syno-braswell-7.2/digests
  toolchain/syno-broadwell-7.2/Makefile
  toolchain/syno-broadwell-7.2/digests
  toolchain/syno-broadwellnk-7.2/Makefile
  toolchain/syno-broadwellnk-7.2/digests
  toolchain/syno-broadwellnkv2-7.2/Makefile
  toolchain/syno-broadwellnkv2-7.2/digests
  toolchain/syno-broadwellntbap-7.2/Makefile
  toolchain/syno-broadwellntbap-7.2/digests
  toolchain/syno-bromolow-7.2/Makefile
  toolchain/syno-bromolow-7.2/digests
  toolchain/syno-denverton-7.2/Makefile
  toolchain/syno-denverton-7.2/digests
  toolchain/syno-epyc7002-7.2/Makefile
  toolchain/syno-epyc7002-7.2/digests
  toolchain/syno-geminilake-7.2/Makefile
  toolchain/syno-geminilake-7.2/digests
  toolchain/syno-grantley-7.2/Makefile
  toolchain/syno-grantley-7.2/digests
  toolchain/syno-kvmx64-7.2/Makefile
  toolchain/syno-kvmx64-7.2/digests
  toolchain/syno-monaco-7.2/Makefile
  toolchain/syno-monaco-7.2/digests
  toolchain/syno-purley-7.2/Makefile
  toolchain/syno-purley-7.2/digests
  toolchain/syno-r1000-7.2/Makefile
  toolchain/syno-r1000-7.2/digests
  toolchain/syno-rtd1296-7.2/Makefile
  toolchain/syno-rtd1296-7.2/digests
  toolchain/syno-rtd1619b-7.2/Makefile
  toolchain/syno-rtd1619b-7.2/digests
  toolchain/syno-v1000-7.2/Makefile
  toolchain/syno-v1000-7.2/digests
  toolchain/syno-x64-7.2/Makefile
  toolchain/syno-x64-7.2/digests
Labels: framework, arch

#5430 allow all characters in installer variables
  mk/spksrc.service.installer.functions
  spk/minio/Makefile
  spk/minio/src/environment-variables
  spk/minio/src/service-setup.sh
  spk/minio/src/wizard/upgrade_uifile.sh
Labels: framework

#5582 Fix rustc builds on github-action
  .github/actions/build.sh
  mk/spksrc.cross-rust-env.mk
  mk/spksrc.tc-rust.mk
  spk/python310/Makefile
  spk/python310/src/requirements-crossenv.txt
  spk/python311/Makefile
  spk/python311/src/requirements-crossenv.txt
Labels: framework, build/rust

#5554 Sonarr v3: fix block on legacy (v2) upgrades
  spk/sonarr3/Makefile
  spk/sonarr3/src/config.xml
  spk/sonarr3/src/service-setup.sh
  spk/sonarr3/src/wizard/install_uifile
  spk/sonarr3/src/wizard/install_uifile_fre
  spk/sonarr3/src/wizard/upgrade_uifile
  spk/sonarr3/src/wizard/upgrade_uifile_fre
Labels: status/needs-review

#5553 Bazarr: upgrade 1.1.2 => 1.1.4
  cross/bazarr/Makefile
  cross/bazarr/digests
  spk/bazarr/Makefile
Labels: status/ready-to-merge

#5570 Fix compatibility with POSIX shell in SRM (ash)
  mk/spksrc.service.installer.dsm5
  mk/spksrc.service.installer.dsm6
  mk/spksrc.service.installer.dsm7
  mk/spksrc.service.installer.functions
  mk/spksrc.service.start-stop-status
  spk/deluge/src/service-setup.sh
Labels: framework, dsm 5, srm
