Repository SynoCommunity/spksrc, pull requests merged in 2025-02, with the labels that each got.

#6436 update synocli-file
  cross/bat/Makefile
  cross/bat/digests
  cross/eza/Makefile
  cross/eza/digests
  cross/fzf/Makefile
  cross/fzf/digests
  cross/mc/Makefile
  cross/mc/digests
  cross/mc/patches/3689-bash-subshell.patch
  cross/plzip/Makefile
  cross/plzip/digests
  diyspk/bat/Makefile
  diyspk/eza/Makefile
  diyspk/fzf/Makefile
  diyspk/mc/Makefile
  spk/synocli-file/Makefile
Labels: synocli-file

#6452 synocli-file: fix file guesser command 'file'
  cross/file/Makefile
  native/file/Makefile
  native/file/digests
  spk/synocli-file/Makefile
Labels: synocli-file

#6459 Jellyfin: Update to v10.10.6
  cross/jellyfin-web/Makefile
  cross/jellyfin-web/digests
  cross/jellyfin/Makefile
  cross/jellyfin/digests
  spk/jellyfin/Makefile
Labels: dotnet

#6464 native/go: update to v1.23.6
  native/go/Makefile
  native/go/digests
Labels: framework
