Repository SynoCommunity/spksrc, pull requests merged in 2025-03, with the labels that each got.

#6469 Jellyfin: Republish with font fix
  cross/jellyfin/Makefile
  spk/jellyfin/Makefile
  spk/jellyfin/src/fonts/fonts.conf
  spk/jellyfin/src/service-setup.sh
Labels: dotnet

#6477 Ensure valid custom toolchain name for qoriq-6.2.4 (powerpc-unknown-linux-gnuspe)
  mk/spksrc.cross-rust-env.mk
  toolchain/syno-qoriq-6.2.4-rust/Makefile
  toolchain/syno-qoriq-6.2.4-rust/digests
  toolchain/syno-qoriq-6.2.4/Makefile
Labels: framework, build/rust-qoriq

#6483 add ghostscript and fix imagemagick
  cross/ghostscript/Makefile
  cross/ghostscript/PLIST
  cross/ghostscript/digests
  cross/imagemagick/Makefile
  cross/jbigkit/PLIST
  cross/liblqr/Makefile
  cross/liblqr/PLIST
  cross/liblqr/digests
  spk/ghostscript/Makefile
  spk/ghostscript/src/ghostscript.png
  spk/imagemagick/Makefile
Labels: new-package

#6490 make dsm7 uninstall less verbose
  mk/spksrc.service.installer.dsm7
Labels: framework, dsm 7
